<nav>
  <ul>
    <li><a routerLink="home">Home</a></li>
    <h2>Démonstrations</h2>
    <li><a routerLink="demo1">Bindings</a></li>
    <li><a routerLink="demo2">Pipes</a></li>
    <li><a routerLink="demo-directive">Directive</a></li>
    <li><a routerLink="demo-directive2">Directive 2</a></li>
    <li><a routerLink="demo-inpoutOutput-parent">Inpout | Output</a></li>
    <li><a routerLink="demo-inpoutOutput-v2">Inpout | Output V2</a></li>
    <h2>Exercices</h2>
    <li><a routerLink="exercice1">Plus ou moins</a></li>
    <li><a routerLink="exercice2">Chronomètre</a></li>
    <li><a routerLink="article-list">Article-list</a></li>
  </ul>
</nav>
