<nav>
    <ul>
        <li><a routerLink="home">Home</a></li>
        <fieldset>
            <legend>Démonstrations</legend>
            <li><a routerLink="demo1">Bindings</a></li>
            <li><a routerLink="demo2">Pipes</a></li>
            <li><a routerLink="demo-directive">Directive</a></li>
            <li><a routerLink="demo-directive2">Directive 2</a></li>
            <li>
                <a routerLink="demo-inpoutOutput-parent">Inpout | Output</a>
            </li>
            <li><a routerLink="demo-inpoutOutput-v2">Inpout | Output V2</a></li>
            <li><a routerLink="demo-service">Service</a></li>
            <li><a routerLink="demo-formulaire">Formulaire</a></li>
            <li><a routerLink="demo-routing">Routing</a></li>
            <li><a routerLink="demo-guard">Guard</a></li>
        </fieldset>
        <fieldset>
            <legend>Exercices</legend>
            <li><a routerLink="exercice1">Plus ou moins</a></li>
            <li><a routerLink="exercice2">Chronomètre</a></li>
            <li><a routerLink="article-list">Article-list</a></li>
            <li><a routerLink="input-output-exercice">Inpout | Output</a></li>
            <li><a routerLink="product-list">Produits list</a></li>
            <li><a routerLink="update-product">Update productt</a></li>
            <li><a routerLink="exo-formulaire">Formulaire</a></li>
        </fieldset>
    </ul>
</nav>
